<html>
    <head>
        <title>Customer Orders</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Burrito Bill's Customer Orders</h1>
        <br>
        <ul>
        {% for customer in customer_orders %}
           
            <li><p>Name: <b>{{customer.customer_name}}</b></p></li>
            <li><p>Date: <b>{{customer.order_date}}</b></p></li>
            <a href="/orders/{{ customer_orders.index(customer) }}">Go to order</a>
            <br>
            <br>
            <br>
        {% endfor %}
        </ul>    
    </body>
</html>