<html>
    <head>
        <title>{{customer_orders.customer_name}}'s order</title>
    </head>
    <body>
        <h1>Burrito Bill's Customer Orders</h1>
        <br>
        <ul>
        
            <li><p>Name: <b>{{customer_orders.customer_name}}</b></p></li>
            <li><p>Date: <b>{{customer_orders.order_date}}</b></p></li>
            <li><p>Number of burritos ordered: <b>{{customer_orders.quantity}}</b></p></li>
            <li><p>Extra fillings: <b>{{customer_orders.food_topping}}</b></p></li>
            <br>
       
        </ul>    
    </body>
</html>